.jm-layout {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    user-select: none;
    background-color: #fff;
    z-index: 1000;

    .content {
        height:76vh;
        overflow-y: auto;
    }
    .adm-number-keyboard-key{
        height: 6vh;
    }

    .top {
        position: absolute;
        background-color: white;
        z-index: 10000;
        padding-top: 3vh;
        width: 100vw;

        .cancel {
            position: absolute;
            top: 3.5vh;
            left: 2.5vw;
            height: 4vh;
        }

        .top-title {
            text-align: center;
            font-weight: 800;
            font-size: 5vw;
            line-height: 5vh;
        }
    }

    .image {
        margin-top: 10vh;

        img {
            display: block;
            margin: 0 auto;
            width: 20vh;
            height: 20vh;
        }
    }

    .title {
        margin-bottom: 4vh;
        text-align: center;
        font-size: 3vw;
    }

    .phone-number {
        display: flex;
        justify-content: center;
        font-size: 4.8vw;

        .phone-block {
            display: block;
            text-align: center;
            line-height: 42px;
            height: 42px;
            width: 5vw;
        }

        &-box {
            display: flex;
        }
    }

    .hint {
        margin: 10px 0;
        font-size: 3vw;
        text-align: center;
        color: #d3d335;
    }

    .authorize {
        font-size: 3.5vw;       
        line-height: 3.5vw;
        text-align: center;
        .adm-radio-icon {
            width: 3.5vw;
            height: 3.5vw;
        }

        .protocol {
            color: #2d77ff;
        }
    }

    .keyboard-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.jm-message {
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1100;

    &-top {
        top: 15vh;
    }

    &-notice {
        margin: 12px;
        text-align: center;
    }

    &-notice-content {
        color: #fff;
        font-size: 16px;
        padding: 15px 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        display: inline-block;
    }

    &-fade {
        overflow: hidden;
        transition: all 0.3s;
    }

    &-fade-appear-start {
        transform: translateY(-100%);
        opacity: 0;
    }

    &-fade-appear-active {
        transform: translateY(0);
        opacity: 1;
    }
}

.jm-toast {
    &-mask {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1100;
        position: fixed;
    }

    &-notice {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    &-notice-content {
        color: #fff;
        max-width: 80vw;
        max-height: 70vh;
        padding: 12px 12px;
        word-break: break-all;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 8px;
    }

    &-fade {
        overflow: hidden;
        transition: all 0.3s;
    }

    &-fade-appear-start {
        opacity: 0;
    }

    &-fade-appear-active {
        opacity: 1;
    }
}
.cucc-modal{
    .adm-center-popup{
        max-width: 90vw;
    }
    .adm-center-popup-wrap{
        top: 35%;
        width: 90vw;
        max-width: 90vw;
    }
    
    .adm-number-keyboard-key{
        height: 6vh;
    }
    .content {
        height:50vh;
        overflow-y: auto;
    }
    .top {
        position: absolute;
        background-color: white;
        z-index: 10000;
        padding-top: 3vh;
        width: 100vw;

        .cancel {
            position: absolute;
            top: 3.5vh;
            left: 2.5vw;
            height: 4vh;
        }

        .top-title {
            text-align: center;
            font-weight: 800;
            font-size: 5vw;
            line-height: 5vh;
        }
    }

    .image {
        img {
            display: block;
            margin: 0 auto;
            width: 20vh;
            height: 20vh;
        }
    }

    .title {
        margin-bottom: 4vh;
        text-align: center;
        font-size: 3vw;
    }

    .phone-number {
        display: flex;
        justify-content: center;
        font-size: 4.8vw;
        .phone-block {
            display: block;
            text-align: center;
            line-height: 42px;
            height: 42px;
            width: 5vw;
        }

        &-box {
            display: flex;
        }
    }

    .hint {
        margin: 10px 0;
        font-size: 3vw;
        text-align: center;
        color: #d3d335;
    }

    .authorize {
        font-size: 3.5vw;       
        line-height: 3.5vw;
        text-align: center;
        .adm-radio-icon {
            width: 3.5vw;
            height: 3.5vw;
        }

        .protocol {
            color: #2d77ff;
        }
    }

    .keyboard-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@keyframes checkingMove {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(300%);
    }
}

@keyframes modal-overlay-enter {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}